body {
    margin: 0px 20px;
}

.section-body {
    background-color: #CCC;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
}

.item {
    background-color: blue;
    border-radius: 25px;
    min-height: 155px;
    color: #fff;
    font-size: 20px;
}

/* 
@media (max-width: 901px) {
    .section-body {
        grid-template-columns: 1fr;
    }
}*/